* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: "Montserrat Alternates", serif;
}

.img {
    position: relative;
    width: 100%;
    height: 100%;
}

.falling-img {
    position: absolute;
    top: -100px;
    animation: fall 5s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(100vh);
    }
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-sizing: border-box;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    background-image: url('img/christmas-celebration-concept.png');
    background-size: 170px 95px;
    background-position: right;
    background-repeat: no-repeat;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-size 0.3s ease;

    &:hover {
        background-size: 200px 115px;
    }

    &__logo {
        display: flex;
        flex-direction: column;
    }

    &__img {
        width: 80px;
        height: 80px;
        margin-top: -32px;
        margin-left: -10px;
        position: absolute;
        z-index: 1;
    }

    &__img-logo {
        width: 50px;
        height: 50px;
        margin-top: -32px;
        margin-left: -10px;
        position: absolute;
        z-index: 1;
    }

    &__menu-img {
        height: 59px;
        max-width: 154px;
    }

    &__menu-link {
        box-sizing: border-box;
        border: 1px solid rgb(162, 101, 57);
        border-radius: 24px;
        width: 120px;
        height: 45px;
        color: rgb(162, 101, 57);
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0px;
        text-align: center;
        display: inline-block;
        text-decoration: none;
        margin: 7px;
        line-height: 45px;

        &:hover {
            background-color: rgb(162, 101, 57);
            color: rgb(255, 255, 255);
        }
    }

    &__inform {


        &__link {
            color: rgb(69, 64, 61);
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: left;
            padding-right: 48px;
            cursor: pointer;
        }

        &__button {
            box-sizing: border-box;
            border: 1px solid rgb(162, 101, 57);
            border-radius: 24px;
            background-color: rgb(255, 255, 255);
            width: 169px;
            height: 52px;
            color: rgb(162, 101, 57);
            font-family: inherit;
            color: rgb(162, 101, 57);
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: center;

            &:hover {
                background-color: rgb(162, 101, 57);
                color: rgb(255, 255, 255);
            }

        }
    }
}

.content {
    background-color: #F6F5F4;
    background-image: url(img/Group.svg);
    background-repeat: no-repeat;
    background-size: 1220px 980px;
    background-position: left 649px center;
    margin-top: 118px;
    height: 770px;

    &__explain {
        display: flex;
        flex-direction: column;
        gap: 24px;
        max-width: 586px;
        margin-right: 40px;
    }

    &__title {
        font-size: 48px;
        font-weight: 600;
        line-height: 59px;
        letter-spacing: 0px;
        color: rgb(69, 64, 61);
        text-align: left;
        margin-top: 159px;
    }

    &__subtitle {
        color: rgb(69, 64, 61);
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: left;
        max-width: 498px;
    }

    &__text {
        color: rgb(69, 64, 61);
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        max-width: 498px;
    }

    &__link {
        box-sizing: border-box;
        border: 1px solid rgb(162, 101, 57);
        border-radius: 24px;
        color: rgb(162, 101, 57);
        background-color: rgb(255, 255, 255);
        width: 366px;
        height: 52px;
        font-family: inherit;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
        margin-top: 40px;
        display: inline-block;
        text-decoration: none;
        line-height: 45px;

        &:hover {
            background-color: rgb(162, 101, 57);
            color: rgb(255, 255, 255);
        }
    }
}

.menu-coffeе {
    margin-top: 168px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(4, 2fr);
}

.menu-dessert {
    margin-top: 48px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(4, 2fr);
}

.menu-snacks {
    margin-top: 48px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(4, 2fr);
}

.item {
    max-width: 276px;
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 24px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.14);
    background: rgb(255, 255, 255);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('img/santa.png');
        background-size: 98px 98px;
        background-repeat: no-repeat;
        background-position: top 180px;
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
        z-index: -1;
    }

    &:hover::before {
        opacity: 1;
        transform: scale(1.1);
    }

    &:hover {
        transform: scale(1.05);
    }

    &__img {
        position: relative;
        max-width: 276px;
        height: 276px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__images {
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }
    }


    &__icon {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    &__img:hover .item__icon {
        display: flex;
        gap: 10px;
    }

    &__icon-img {
        cursor: pointer;
        cursor: pointer;
        width: 30px;
        height: 30px;
        opacity: 0.8;
        transition: opacity 0.3s ease;

        &__icon-img:hover {
            opacity: 1;
        }
    }

    &__describe {
        display: flex;
        flex-direction: column;
        padding: 20px 20px 20px 20px;
        gap: 7px;
    }

    &__name {
        color: rgb(69, 64, 61);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0px;
        text-align: left;
    }

    &__size {
        color: rgb(154, 154, 154);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0px;
        text-align: left;
    }

    &__price {
        color: rgb(69, 64, 61);
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: left;
    }
}

.img__coffe_beans {
    position: absolute;
    max-width: 270px;
    max-height: 270px;
    left: 1068px;
    top: 158px;
}

.img__cup {
    position: absolute;
    max-width: 540px;
    max-height: 540px;
    left: 654px;
    transition: transform 1s ease-in-out;

    &:hover {
        transform: rotate(360deg);
    }
}

.img__cookies {
    position: absolute;
    max-width: 393px;
    max-height: 393px;
    left: 661px;
    top: 498px;
    transition: transform 1s ease-in-out;

    &:hover {
        transform: rotate(360deg);
    }
}

.img__synabon {
    position: absolute;
    max-width: 569px;
    max-height: 569px;
    left: 927px;
    top: 350px;
    transition: transform 5s ease-in-out;

    &:hover {
        transform: rotate(360deg);
    }
}

.footer {
    background-image: url('img/snow-back.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &__logo {
        color: rgb(0, 0, 0);
        font-size: 36px;
        font-weight: 600;
        line-height: 44px;
        padding-bottom: 91px;
    }

    &__content {
        width: 792px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__info {
        display: flex;
        gap: 129px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__title {
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: 500;
        line-height: 29px;
    }

    &__icons {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__text {
        margin-bottom: 4px;
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 400;
        line-height: 15px;
    }

    &__link {
        color: rgba(136, 136, 136, 0.836);
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;

        &:hover {
            text-decoration: underline;
        }
    }

    &__type {
        box-sizing: border-box;
        border: 1px solid rgb(196, 196, 196);
        border-radius: 16px;
        background: #fff;
        font: inherit;
        width: 260px;
        height: 40px;
        font-size: 14px;
        font-weight: 400;
        line-height: 15px;
        padding-left: 24px;
        padding-right: 24px;
        color: rgb(196, 196, 196);

        &::placeholder {
            color: rgb(196, 196, 196);
        }
    }

    &__button {
        background: rgba(222, 215, 215, 0.41);
        border: none;
        box-sizing: border-box;
        border-radius: 16px;
        width: 260px;
        height: 40px;
        font: inherit;
        font-size: 14px;
        line-height: 15px;
        color: rgb(0, 0, 0);
        font-family: inherit;
    }
}

@import 'tablet';
@import 'mobile';