$color-text: rgb(255, 255, 255);
$width-site: 1200px;
$gap: 32px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat",
        serif;
}

a {
    text-decoration: none;
}

button {
    border: 1px solid #000;
    border-radius: 20px;
    height: 40px;
    font-family: inherit;
    padding: 10px 23px;
    cursor: pointer;
    background-color: #fff;
}

select {
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 20px;
    padding-left: 23px;
    padding-right: 23px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    width: 227px;
    background-image: url(images/arrow.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;
    color: black;
}

.top {
    height: 735px;
    background-image: url(images/topback.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__text {
        color: $color-text;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 16px;
    }

    &-catalog {
        height: 400px;
        background-image: url(images/topback1.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &-catalog__title {
        color: $color-text;
        font-size: 64px;
        font-weight: 600;
        margin-bottom: 128px;
        margin-top: 126px;
    }
}


.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    height: 76px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);

    &__input {
        width: 288px;
        height: 41px;
        box-sizing: border-box;
        border: 1px solid $color-text;
        border-radius: 20px;
        background-color: transparent;
        outline: none;
        font-size: 16px;
        font-weight: 400;
        font: inherit;
        padding-left: 32px;
        padding-right: 32px;
        color: $color-text;

        &::placeholder {
            color: $color-text;
        }
    }

}

.menu {
    display: flex;
    gap: 32px;

    &__link {
        font-size: 16px;
        font-weight: 400;
        color: $color-text;

        &:hover {
            text-decoration: underline;
        }
    }

    &__modal {
        position: fixed;
        display: none;
        left: 747px;
        top: 66px;
        box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
        background: rgb(255, 255, 255);
        padding: 40px 48px 40px 48px;
        z-index: 10;
        height: 480px;

        &:target {
            display: block;
        }

        &-close-modal {
            cursor: pointer;
            position: absolute;
            right: 20px;
            top: 10px;
            width: 30px;
            height: 30px;
            border: none;
            display: flex;
            font-size: 16px;
            color: #000;
            /* Цвет текста */
        }

        &-cart {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;


            &__info {
                display: flex;
                flex-direction: column;
                gap: 12px;
                margin-left: 24px;
                margin-right: 72px;
            }

            &__title {
                color: rgb(0, 0, 0);
                font-size: 24px;
                font-weight: 500;
            }

            &__price {
                color: rgb(5, 5, 5);
                font-size: 16px;
                font-weight: 500;
            }

            &__link1 {
                color: rgb(0, 0, 0);
                font-size: 14px;
                font-weight: 400;
                text-decoration-line: underline;
            }

            &__number {
                border-radius: 6px;
                background: rgb(247, 246, 246);
                width: 71px;
                height: 51px;
                color: rgb(0, 0, 0);
                font-family: Poppins;
                font-size: 14px;
                font-weight: 600;
                text-align: center;
                border: 1px solid $color-text;
            }

            &__link {
                display: flex;
                flex-direction: row;
                gap: 24px;
                margin-top: 42px;
            }

            &-gray-line {
                border: 0.5px solid rgb(202, 205, 216);
                margin: 24px 0px;
            }

            &__total {
                display: flex;
                flex-direction: row;
                margin-top: 24px;

                &-text {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: 40px;
                }

                &-text1 {
                    color: rgb(0, 0, 0);
                    font-size: 24px;
                    font-weight: 400;
                    padding-right: 6px;
                }

                &-text2 {
                    color: rgb(0, 0, 0);
                    font-size: 24px;
                    font-weight: 500;
                }
            }

            &__order-link {
                border: 1px solid rgb(4, 4, 4);
                border-radius: 20px;
                width: 223px;
                height: 40px;
                color: rgb(0, 0, 0);
                font-family: inherit;
                font-size: 16px;
                font-weight: 400;
                margin-left: 48px;
                transition: background-color 0.3s ease, transform 0.3s ease;

                &:hover {
                    background-color: rgb(0, 0, 0);
                    transform: scale(1.05);
                    color: $color-text;
                }

                &:active {
                    transform: scale(0.95);
                }
            }
        }
    }

    &-mob {
        display: none;
    }
}

.link {
    color: $color-text;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
}

.link:hover {
    text-decoration: underline;
}

.title {
    color: $color-text;
    font-size: 64px;
    font-weight: 600;
    margin-top: 64px;
    margin-bottom: 16px;
    text-align: left;
}

.top-catalog-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__nav {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 400;
    }
}

.top-catalog__filterform {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: flex-end;
}

.filter-button-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.filter-button-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-button {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    width: 182px;
    border-color: #c4c4c4;
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-image: url(images/arrow.svg);
}

.filter-product__content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid #ccc;
}


.filtering-form {
    position: absolute;
    top: calc(100% + 14px);
    right: 237px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 36px;
    background-color: #fff;
    box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
    padding: 40px 48px;
    z-index: 1;

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 32px 65px;
        min-width: 445.5px;
        max-height: 448px;
    }


    &__fieldset {
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding: 0;
        border: none;
    }

    &__legend1 {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 16px;
    }

    &__legend2 {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 14px;
    }

    &__button {
        align-self: flex-end;
        width: 190px;
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
            background-color: rgb(0, 0, 0);
            transform: scale(1.05);
            color: $color-text; 
        }
        
        &:active {
            transform: scale(0.95); 
        }
    }
}


.radio {
    display: flex;
    align-items: center;
    gap: 11px;

    &__input {
        display: none;
    }

    &__label {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        padding-left: 30px;
        font-size: 14px;

        &::before {
            content: "";
            width: 15px;
            height: 15px;
            border: 1px solid #888888;
            border-radius: 50%;
            position: absolute;
            left: 0;
            background-color: #fff;
        }
    }
}

.radio__input:checked+.radio__label::before {
    border-color: #000;
    background-image: url(images/marker.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.range {
    display: flex;
    flex-direction: column;
    gap: 14px;

    &__input {
        width: 190.5px;
        height: 9px;
        overflow: hidden;
        outline: none;
    }

    &__slider {
        font-family: sans-serif;
        font-size: 14px;
        position: relative;
        height: 15px;
        width: 190px;
        display: inline-block;
        margin-top: -5.5px;
    }

    &__slider input {
        position: absolute;
    }

    &__label {
        font-size: 14px;
    }
}

.range__input,
.range__input::-webkit-slider-runnable-track,
.range__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
}

.range__input::-webkit-slider-runnable-track {
    width: 189px;
    height: 1px;
    background: #000;
}

.range__input:nth-child(2)::-webkit-slider-runnable-track {
    background: none;
}

.range__input::-webkit-slider-thumb {
    position: relative;
    height: 8px;
    width: 8px;
    margin-top: -4px;
    background: #000;
    border: 1px solid #000;
    border-radius: 25px;
    cursor: pointer;
    z-index: 1;
}

.range__input::-webkit-slider-thumb:active {
    cursor: grabbing;
}

.range__input:nth-child(1)::-webkit-slider-thumb {
    z-index: 2;
}

.color-options {
    display: flex;
    flex-wrap: wrap;
    max-width: 190px;
    gap: 14px;

    &__checkbox {
        width: 15px;
        height: 15px;
    }
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 14px;

    &__input {
        display: none;
    }

    &__label {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        padding-left: 30px;
        font-size: 14px;

        &::before {
            content: "";
            display: inline-block;
            width: 15px;
            height: 15px;
            border: 1px solid #888888;
            position: absolute;
            left: 0;
            background-color: #fff;
        }

        &--white::before {
            background-color: #fff;
            border-color: #808080;
        }

        &--black::before {
            background-color: #000;
            border-color: #000;
        }

        &--gray::before {
            background-color: #737373;
            border-color: #737373;
        }

        &--red::before {
            background-color: #f00;
            border-color: #f00;
        }

        &--orange::before {
            background-color: #ff4500;
            border-color: #ff4500;
        }

        &--yellow::before {
            background-color: #ff0;
            border-color: #ff0;
        }

        &--green::before {
            background-color: #008000;
            border-color: #008000;
        }

        &--teal::before {
            background-color: #40e0d0;
            border-color: #40e0d0;
        }

        &--light-blue::before {
            background-color: #009fe3;
            border-color: #009fe3;
        }

        &--blue::before {
            background-color: #00f;
            border-color: #00f;
        }

        &--purple::before {
            background-color: #800080;
            border-color: #800080;
        }

        &--violet::before {
            background-color: #8a2be2;
            border-color: #8a2be2;
        }

        &--lavender::before {
            background-color: #d89aff;
            border-color: #d89aff;
        }

        &--pink::before {
            background-color: #ff1493;
            border-color: #ff1493;
        }
    }
}

.checkbox__input:checked+.checkbox__label::before {
    background-image: url(images/marker.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-color: #000;
}

.checkbox__input:checked+.checkbox__label--black::before,
.checkbox__input:checked+.checkbox__label--blue::before,
.checkbox__input:checked+.checkbox__label--purple::before {
    background-image: url(images/marker1.svg);
}

.for {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);

    &__item {
        display: flex;
        height: 415px;
        grid-column: span 4;
        color: $color-text;
        font-size: 34px;
        font-weight: 600;
        justify-content: center;
        align-items: center;
    }

    &__item_big {
        grid-column: span 6;
    }

    &__item_1 {
        background-image: url(images/for_rest.jpeg);
    }

    &__item_2 {
        background-image: url(images/for_work.jpeg);
    }

    &__item_3 {
        background-image: url(images/for_kitchen.jpeg);
    }

    &__item_4 {
        background-image: url(images/for_kids.jpeg);
    }

    &__item_5 {
        background-image: url(images/for_bathroom.jpeg);
    }
}

.for-box {
    padding-top: 64px;
}

.product {
    width: 378px;
    display: flex;
    flex-direction: column;

    &__box-price {
        display: flex;
        align-items: baseline;
        gap: 32px;
    }

    &__img {
        position: relative;
    }

    &__images {
        width: 100%;
    }

    &__icon {
        filter: drop-shadow(0px 0px 2px black);
        position: absolute;
        right: 12px;
        top: 13px;
        display: flex;
        gap: 23px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &:hover .product__icon {
        opacity: 1;
    }

    &__icon-img {
        cursor: pointer;
    }

    &__name {
        margin-top: 10px;
        margin-bottom: 9px;
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 500;
        line-height: 17px;
    }

    &__text {
        color: rgb(136, 136, 136);
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 12px;
    }

    &__price {
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        color: rgb(5, 5, 5);
    }

    &__price_old {
        color: rgb(136, 136, 136);
        font-size: 24px;
        font-weight: 500;
        text-decoration-line: line-through;
    }
}

.product-box {
    padding-top: 64px;

    &__title {
        color: rgb(0, 0, 0);
        font-weight: 600;
        font-size: 48px;
        line-height: 59px;
        padding-bottom: 32px;
    }

    &__price {
        color: rgb(5, 5, 5);
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
    }
}

.product-content {
    display: flex;
    column-gap: 32px;
    row-gap: 56px;
    flex-wrap: wrap;
}

.catalog {
    margin-bottom: 64px;
    margin-top: 32px;

    &__link {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-decoration-line: underline;

        &:hover {
            transition: background-color 0.3s ease;
            color: #F7F6F6;
        }
    }
}

.more {
    margin-top: 32px;
    margin-bottom: 64px;

    &__link {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
        text-decoration-line: underline;

        &:hover {
            transition: background-color 0.3s ease;
            color: #F7F6F6;
        }
    }
}

.footer {
    background: rgb(247, 246, 246);
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &__logo {
        color: rgb(0, 0, 0);
        font-size: 36px;
        font-weight: 600;
        line-height: 44px;
        padding-bottom: 91px;
    }

    &__content {
        width: 792px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__info {
        display: flex;
        gap: 129px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__title {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
    }

    &__icon:hover svg path {
        fill: rgb(0, 0, 0);
    }

    &__icons {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__text {
        margin-bottom: 4px;
        color: rgb(0, 0, 0);
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
    }

    &__link {
        color: rgb(136, 136, 136);
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;

        &:hover {
            text-decoration: underline;
        }
    }

    &__type {
        box-sizing: border-box;
        border: 1px solid rgb(196, 196, 196);
        border-radius: 16px;
        background: $color-text;
        font: inherit;
        width: 260px;
        height: 40px;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        padding-left: 24px;
        padding-right: 24px;
        color: rgb(196, 196, 196);

        &::placeholder {
            color: rgb(196, 196, 196);
        }
    }

    &__button {
        background: rgba(222, 215, 215, 0.41);
        border: none;
        box-sizing: border-box;
        border-radius: 16px;
        width: 260px;
        height: 40px;
        font: inherit;
        font-size: 12px;
        line-height: 15px;
        color: rgb(0, 0, 0);
        font-family: inherit;

        &:hover {
            background: rgb(0, 0, 0);
            transition: background-color 0.3s ease;
            color: $color-text;
        }
    }
}

@import 'cart';
@import 'tablet';
@import 'mobile';