@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        height: 80px;
        background-image: none;
        display: flex;
        flex-direction: column;
        gap: 5px;

        &:hover {
            background-size: 160px 90px;
        }

        &__img {
            display: none;
        }

        &__img-logo {
            display: none;
        }

        &__menu-img {
            display: none;
        }

        &__menu-link {
            width: 80px;
            height: 30px;
            font-size: 10px;
            line-height: 30px;
            margin: 3px;
        }

        &__inform {
            &__link {
                font-size: 12px;
                padding-right: 16px;

                &__button {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
    }

    .logo__img {
        display: none;
    }

    .content {
        background-size: 580px 361px;
        background-position: bottom 8px center;

        &__explain {
            display: flex;
            flex-direction: column;
            gap: 16px;
            max-width: 100%;
            margin-right: 0;
        }

        &__title {
            font-size: 32px;
            line-height: 40px;
            margin-top: 40px;
        }

        &__subtitle {
            font-size: 18px;
            line-height: 24px;
            max-width: 100%;
        }

        &__text {
            font-size: 14px;
            line-height: 18px;
            max-width: 100%;
        }

        &__link {
            width: 100%;
            height: 48px;
            font-size: 14px;
            line-height: 48px;
            margin-top: 20px;
        }
    }

    .img__cup {
        max-width: 240px;
        max-height: 240px;
        left: 54px;
        top: 580px;
    }

    .img__cookies {
        max-width: 240px;
        max-height: 240px;
        left: 184px;
        top: 680px;
    }

    .menu-coffeе {
        align-items: center;
        margin-top: 40px;
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(1, 1fr);
    }

    .menu-dessert {
        align-items: center;
        margin-top: 40px;
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(1, 1fr);
    }

    .menu-snacks {
        align-items: center;
        margin-top: 40px;
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(1, 1fr);
    }

    .footer {
        padding-bottom: 32px;

        &__content {
            justify-content: center;
            gap: 34px;
        }

        &__info {
            gap: 100px;
        }

    }
}